body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgb(131, 134, 137);
}

label {
  margin: 6px;
}

input {
  width: 70px;
  margin-left: 6px;
}

h1 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.button {
  background: none;
  border-radius: 600px;
  height: 20px;
  cursor: pointer;
  color: rgb(131, 134, 137);
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board-row:after {
  clear: both;
  display: table;
}

.square {
  align-items: center;
  cursor: pointer;
  background: #fff;
  border: 1px solid black;
  display: flex;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 100px;
  height: 100px;
  justify-content: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
}

.game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-player {
  margin-bottom: 10px;
}

.game-status {
  font-size: 20px;
  margin-bottom: 16px;
}
